@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='reset'],
input[type='submit'] {
    background-color: $color-secondary;
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    padding: 0.5vw;
    font-weight: bolder;
    transition: ease-in-out, width 0.35s ease-in-out;
}
#backgroudColorSubmitLogin,
#backgroudColorSubmitSignUp,
#backgroudColorSubmitSignIn{
    background-color: $color-secondary;
    color: $color-black;
}

input[type='text'] {
    width: 40%;
}

input[type='email'] {
    width: 50%;
}

input[type='password'] {
    width: 60%;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
    width: 80%;
    background: $color-white;
}

input[type='reset']:focus-visible,
input[type='submit']:focus-visible {
    background: $color-black;
    transform: scale(1.5);
    color: $color-white;
}
#backgroudColorSubmitLogin:focus-visible,
#backgroudColorSubmitSignUp:focus-visible,
#backgroudColorSubmitSignIn:focus-visible{
    background-color: $color-black;
    color: $color-white;
}
input[type='reset'],
input[type='submit'] {
    color: $color-black;
    border-radius: 0.5vw;
}
h1,
label,
.messageTeamTechnique {
    color: $color-white;
    font-family: 'Roboto', sans-serif;
}
.messageTeamTechnique {
    text-align: justify;
}
.SwalWelcome.fire-text{
    font-size: 5vw;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
}
#emailSignIn::placeholder,
#passwordSignIn::placeholder,
#emailSignUp::placeholder,
#passwordSignIn::placeholder,
#nameSignUp::placeholder,
#passwordSignUp::placeholder {
    color: $color-black;
    padding-left: 0;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: $color-tertiary;
}

.error {
    text-align: left;
    color: $color-alert;
}
.displayLogin,
.displaySignup {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 10%;
}

.displayLogin {
    aspect-ratio: 1/0.7;
}
.displaySignup {
    aspect-ratio: 1/0.7;
}
label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
}

label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}

label .password-icon .fa-eye-slash {
    display: none;
}
h1,
label {
    font-size: 2vw;
}
.signUp,
.signIn,
.signInAfterSignUp
 {
    text-align: center;
    margin-top: 5%;
    border-radius: 5%;
    background-color: $color-primary;
    -webkit-box-shadow: 5px 5px 14px 8px $color-secondary;
    box-shadow: 5px 5px 14px 8px $color-secondary;
}
.signInAfterSignUp{
    margin: 0 0 5vw 0;

}

/*Smartphone*/
@media (max-width: 426px) {
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10% 0 10%;
    }
    h1,
    label {
        font-size: 4vw;
    }
    html,
    .App {
        height: auto;
        background-color: $color-tertiary;

    }
   
    .signUp,
    .signIn {
        text-align: center;
        width: 100%;
    }
    .signIn {
        height: 68vw;
        margin-bottom: 5vw;
    }
    .signUp {
        height: 78vw;
    }

    .widthTextNameOrPseeudo {
        font-size: 5vw;
    }

    input[type='text'] {
        width: 40%;
        transition: ease-in-out, width 0.35s ease-in-out;
    }

    input[type='email'] {
        width: 50%;
        transition: ease-in-out, width 0.35s ease-in-out;
    }

    input[type='password'] {
        width: 60%;
        transition: ease-in-out, width 0.35s ease-in-out;
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus {
        width: 100%;
        background: $color-white;
    }

    input[type='reset']:active,
    input[type='submit']:active {
        cursor: grabbing;
    }
    input[type='reset'],
    input[type='submit'] {
        border-radius: 2vw;
    }
    label {
        font-size: 6vw;
    }
    .separator {
        height: 1%;
        aspect-ratio: 50/1;
        background-color: $color-tertiary;
    }

    .displayLogin,
    .displaySignup {
        width: 100%;
        aspect-ratio: 1/0.5;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .displayResetSubmit {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 10% 0 10% 0;
    }

    label {
        text-align: left;
    }
    .numberOfLikes{
        font-size: 3.5vw;
        font-weight: bolder;
    }
}

#nameSignUp::placeholder {
    font-size: 3vw;
}

#emailSignIn::placeholder,
#emailSignUp::placeholder {
    font-size: 4vw;
}

#passwordSignIn::placeholder,
#passwordSignUp::placeholder {
    font-size: 3.4vw;
}

/*Tablette*/
@media (min-width: 426px) and (max-width: 1023px) {
    section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .login,
    .signup {
        text-align: center;
    }
    .separator {
        width: 1%;
        aspect-ratio: 1/100;
        background-color: $color-tertiary;
    }

    .displayLogin,
    .displaySignup {
        width: 100%;
        aspect-ratio: 1/0.75;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .signUp,
    .signIn {
        text-align: center;
        width: 40%;
    }
    .signIn,
    .signUp {
        height: 40vw;
        margin-bottom: 5vw;
    }

    .displayResetSubmit {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .displayResetSubmit {
        width: 90%;
    }
    #nameSignUp::placeholder {
        font-size: 1.5vw;
    }

    #emailSignIn::placeholder,
    #emailSignUp::placeholder {
        font-size: 2vw;
    }

    #passwordSignIn::placeholder,
    #passwordSignUp::placeholder {
        font-size: 1.5vw;
    }
    .messageTeamTechnique{
        font-size: 3vw;
        width: 80%;
    }
    label {
        text-align: left;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    h1,
    label {
        font-size: 1.5vw;
    }
    .separator {
        width: 1%;
        aspect-ratio: 1/100;
        background-color: $color-tertiary;
    }
    section {
        flex-wrap: wrap;
    }

    .signIn {
        width: 30%;
        height: 30vw;
    }

    .signUp {
        width: 32.5%;
        height: 30vw;
    }

    .input:focus-visible {
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
    }

    .displayResetSubmit {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    label {
        text-align: left;
        font-size: 2vw;
    }
    #nameSignUp::placeholder {
        font-size: 1vw;
    }

    #emailSignIn::placeholder,
    #emailSignUp::placeholder {
        font-size: 1vw;
    }

    #passwordSignIn::placeholder,
    #passwordSignUp::placeholder {
        font-size: 1vw;
    }
    .messageTeamTechnique{
        font-size: 3vw;
        width: 80%;
    }
}
