@use '../../../src/styles/variables' as *;

.footer{
    background-color: $color-tertiary;
}
/*Smartphone*/
@media (max-width: 426px) {

    .footer {
        width: 100%;
        aspect-ratio: 41/6;
    }
}

/*Tablette*/
@media (min-width: 426px) and (max-width: 1023px) {

    .footer {
        width: 100%;
        height: 100px;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    .footer {
        width: 100%;
        height: 200px;
    }
}
    

