@media (min-width: 1024px) {
    .dispayNamePoster {
        color: $color-secondary;
        margin: 2vw 0 2vw 0;
        font-size: 2.5vw;

    }
    .hello {
        color: $color-tertiary;
        font-size: 5vw;
        text-align: center;
    }
    .styleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            270deg,
            $color-secondary 1%,
            $color-primary
        );
        color: $color-tertiary;
        border-radius: 6vw;
        width: 20%;
        aspect-ratio: 3/1;
        box-shadow: 2px 9px 15px -7px rgba(0, 0, 0, 0.75);
        font-size: 3vw;
    }
    input[type="file"] {
        display: none;
    }
    .widthButtonSelectImage{
        width: 25vw;
        aspect-ratio: 1/0.2;
        cursor: pointer;
    }
    .hidenChooseFolder{
       z-index: -1;
    }
    .displaySection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-secondary;
    }
    #file-upload-button {
        display: none;
    }
    .like {
        cursor: pointer;
    }

    .likeOff {
        color: white;
        width: 30%;
        font-size: 2vw;
    }

    .likeOn {
        color: $color-secondary;
        width: 50%;
        font-size: 2vw;

    }
    .numberOfLikes {
        width: 20%;
        aspect-ratio: 1/1;
        background-color: $color-secondary;
        border-radius: 10%;
        font-size: 1.5vw;
        font-weight: bolder;
        text-align: center;
    }
    .displayLikes {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .displayLikesAndNumberLikes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 15%;
    }
    .displayCreatePost {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 20px 0;
    }
    .displayTitleCreatePost {
        display: flex;
    }
    .titleCreatePost {
        color: $color-tertiary;
        font-size: 1.5vw;
        margin-bottom: 1vw;
    }
    .displayTextArea {
        display: flex;
        min-width: 100%;
        min-height: 200px;
        border-radius: 20px;
    }
    .displayTextAreaToModif {
        display: flex;
        min-width: 80%;
        min-height: 200px;
        border-radius: 20px;
        margin: 0 0 5% 10%;
    }
    .displayTextAndImage {
        width: 80%;
    }
    .displayinputImageAndButtonPublish {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .image {
        float: left;
        margin-right: 10px;
        margin: 5px;
        border-radius: 30px;
        object-fit: cover;
        width: 60%;
    }
    .displayImage {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        min-height: 200px;
    }
    .displayText {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        white-space: normal;
        font-size: 2.5vw;
        padding: 2vw;
        margin: 2vw 0 2vw 0;
    }
    .displayButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 20px 20px 20px;
    }

    .displayPosts {
        display: flex;
        width: 80%;
        margin-bottom: 50px;
        flex-direction: column;
        border-radius: 1%;
        justify-content: center;
    }
    .displayPost {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: $color-tertiary;
        border-radius: 30px;
    }
    .conteneurUser {
        width: 100%;
        border: 2px solid $color-tertiary;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteneur {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 20%;
    }
    ::placeholder {
        color: black;
        font-size: 1.5vw;
    }
    .deletePost,
    .modifyPost,
    .annulationPost,
    input,
    button {
        cursor: pointer;
    }
}
