@use '../../../src/styles/variables' as *;

.dispayNamePoster {
    color: $color-secondary;
}
.hello{
    color: $color-tertiary;
    font-size: 5vw;
}
.styleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, $color-secondary 1%, $color-primary);
    color: $color-tertiary;
    border-radius: 6vw;
    width: 20%;
    aspect-ratio: 3/1;
    box-shadow: 2px 9px 15px -7px rgba(0,0,0,0.75);
    font-size: 3vw;
}
.displaySection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.displayButtonLogout{
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    width: 5%;
    aspect-ratio: 1/0.5;
    cursor: pointer;
}
.like
{
    cursor: pointer;
}

.likeOff{
    color: white
}

.likeOn{
    color: $color-secondary
}

.displayLikes{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.displayLikesAndNumberLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
}
.displayCreatePost {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 20px 0;
}
.displayTitleCreatePost{
    display: flex;
}
.displayTextArea{
    display: flex;
    min-width: 100%;
    min-height: 200px;
    border-radius: 20px;
}
.displayTextAreaToModif{
    display: flex;
    min-width: 80%;
    min-height: 200px;
    border-radius: 20px;
    margin: 0 0 5% 10%;
}
.displayTextAndImage{
    width: 80%;
}
.displayinputImageAndButtonPublish {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.image {
    float: left;
    margin-right: 10px;
    margin: 5px;
    border-radius: 30px;
    object-fit: cover;
    width: 60%;
}
.displayImage {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 200px;
}
.displayText{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 50%;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    word-wrap: break-word;
}
.displayButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
}

.displayPosts {
    display: flex;
    width: 80%;
    margin-bottom: 50px;
    flex-direction: column;
    border-radius: 1%;
    justify-content: center;
}
.displayPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: $color-tertiary;
    border-radius: 30px;

}
.conteneurUser{
    width: 100%;
    border: 2px solid $color-tertiary;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteneur {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 20%;
}
::placeholder{
color: black;
font-size: 1.5vw;
}
.deletePost,
.modifyPost,
.annulationPost,
input,
button {
    cursor: pointer;
}
